<a href="https://colab.research.google.com/github/daniil-koblov/py_sem/blob/main/py_sem_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [9]:
df.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [8]:
df.tail(5)

       longitude  latitude  ...  median_income  median_house_value
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[5 rows x 9 columns]

In [11]:
df.shape

(17000, 9)

In [12]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [13]:
df - pd.read_csv('/content/sample_data/california_housing_test.csv')

       longitude  latitude  ...  median_income  median_house_value
0           7.74     -3.18  ...        -5.1149           -277800.0
1           3.83      0.14  ...        -1.7790            -96400.0
2           3.25     -0.09  ...        -4.1425           -184800.0
3           3.79     -0.18  ...        -2.9442           -256600.0
4           5.10     -2.76  ...        -1.0125            -16200.0
...          ...       ...  ...            ...                 ...
16995        NaN       NaN  ...            NaN                 NaN
16996        NaN       NaN  ...            NaN                 NaN
16997        NaN       NaN  ...            NaN                 NaN
16998        NaN       NaN  ...            NaN                 NaN
16999        NaN       NaN  ...            NaN                 NaN

[17000 rows x 9 columns]

In [15]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [40]:
df[df.median_income < 2]['median_house_value'].min()
# или 
# df.loc[df['median_income'] < 20, 'median_house_value']

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [44]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)] 
# или 
# df[(df.housing_median_age < 20) & (df.median_house_value > 70000)]
# или 
# df.query('housing_median_age < 20 and median_house_value > 70000')

       longitude  latitude  ...  median_income  median_house_value
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
10       -114.60     33.62  ...         2.6797             86500.0
23       -114.98     33.82  ...         3.2097             71300.0
...          ...       ...  ...            ...                 ...
16976    -124.17     40.75  ...         4.8516            116100.0
16983    -124.19     41.78  ...         1.6654             74600.0
16991    -124.23     41.75  ...         2.4805             73200.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0

[4595 rows x 9 columns]

In [24]:
df.columns[1]

'latitude'

In [30]:
for i in df.columns[:2]:
  print(df[i])

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64
0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [45]:
df['median_house_value'].min()

14999.0

In [46]:
df['median_house_value'].max()

500001.0

In [47]:
print(df['median_house_value'].min(),df['median_house_value'].max())

14999.0 500001.0

In [49]:
df[df.median_income == 3.1250]['median_house_value'].max()

380400.0

In [53]:
df[df.median_house_value == df.median_house_value.min()]['population'].max()

628.0